$backgroundColor: rgb(0, 67, 204);
$textColor: ivory;
$panelColor: lightblue;
$panelBorder: black;

@import url('https://fonts.googleapis.com/css?family=Roboto Mono');

body{
    background-color: $backgroundColor;
    color: $textColor;
    font-family: 'Roboto Mono';
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    padding: 20px;
    text-align: center;
    font-weight: bolder;
}

input[type=text]{
    width: 75%;
}

#settingsPane, #chattingPane{
    padding: 20px;
    background-color: $panelColor;
    border: $panelBorder;
    border-style: double;
    margin-bottom: 20px;
}


