$backgroundColor: rgb(0, 67, 204);
$textColor: black;
$textColorLight: ivory;
$panelColor: lightblue;
$panelBorder: black;
$sentColor: rgb(163, 0, 163);
$receivedColor: rgb(156, 97, 156);
$timestampColor: black;
$errorColor: red;

@import url('https://fonts.googleapis.com/css?family=Roboto Mono');

body{
    background-color: $backgroundColor;
    color: $textColor;
    font-family: 'Roboto Mono';
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    padding: 20px;
    text-align: center;
    font-weight: bolder;
}

h4{
    font-weight: bolder;
}

.chatmsg, .mymsg{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.chatmsg{
    text-align: left;
    background-color: $receivedColor;
    animation: msg 0.5s ease;
}

.mymsg{
    text-align: right;
    background-color: $sentColor;
    animation: msg 0.5s ease;
}

@keyframes msg{
    0%{
        opacity: 0;
        width: 0px;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}

@keyframes error{
    0%{
        opacity: 1;
    }
    25%{
        opacity: .25;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: .25;
    }
    100%{
        opacity: 1;
    }
}

.chatText{
    color: $textColorLight;
}

.timestamp{
    color: $timestampColor;
}

#channelCreationError{
    font-weight: bolder;
    position: relative;
    color: $errorColor;
    animation: error 1.0s;
}

#chattyper{
    align-items: right;
}

#settingsPane, #chattingPane{
    padding: 20px;
    background-color: $panelColor;
    border: $panelBorder;
    border-style: double;
    border-radius: 5px;
    margin-bottom: 20px;
}

#nameTag, #channelTag{
    color: black;
    width: 50%;
    font-weight: bolder;
}

#nameTag{
    float: left;
}

#channelTag{
    float: right;
    text-align: right;
}

input, select{
    background-color: $backgroundColor;
    color: $textColorLight;
    border: $panelBorder;
    border-style: groove;
    border-radius: 5px;
    width: 100%;
    margin: 2px;
}

#msgToSend{
    @extend input;
    width: 78%;
}

button{
    @extend input;
    float: right;
    width: 19%;
}

#msgBox{
    overflow-y: scroll;
    min-width: 100px;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#msgBox::-webkit-scrollbar{
    display: none;
}