{% extends "layout.html"%}

{% block heading%}

Welcome to Chatland

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-3 col-md-12" id="settingsPane">

            <h4>Select a channel to chat in</h4>
            <select name="channelList" id="channelList">
            </select><br>

            <h4>Create a new channel</h4>
            <form id="newChannelForm">
                <em id="channelCreationError"></em>
                <input type="text" id="newChannelName" name="newChannelName" autocomplete="off" required>
                <input type="submit" id="createChannel" value="Create"></input>
            </form><br>
    </div>
    <div class="col-lg-9 col-md-12" id="chattingPane">
        <h6 id="nameTag"></h6><h6 id="channelTag"></h6>
        <br>
        <div id="msgBox">
            
        </div>
        <div id="chattyper">
            <input type="text" id="msgToSend" name="msgToSend" autocomplete="off">
            <button id="chatSend">Send</button>
        </div>
    </div>
</div>

{% endblock %}